.login-form {
  width: 35rem;
  height: 25rem;
  max-width: 90%;
  margin: 5.5rem auto;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  border: 1px solid black;
  border-radius: 0.75rem;
  padding: 0.75rem;
  text-align: center;
  font-size: larger;
  background-color: rgba(255, 255, 255, 0.5);
}
.login-form .inner {
  margin-top: 2rem;
}

.login-form .innerSign {
  margin-top: 1rem;
}

.backgroundImage {
  height: 96vh;
  background-image: url("../images/jungle.jpg");
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
}
